<section ng-init="initData()">
  <div class="row bgSection">
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
        <img class="dataImage" src="{{dataImage}}" alt="dataImage">
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="index-count">
          <p>ลำดับที่</p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center"  style="text-align: -webkit-center;">
        <div class="count-radius">
          <p class="count-text">{{rank()}}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" class="buttun-textAdd" style="text-align: -webkit-center;margin-bottom: 20px;">
          <div>
            <a href="https://line.me/R/ti/p/%40thamturakit" id="focus" class="button-count btn btn-block btn-outline btn-default btn-lg text-center">รับข้าวกล้องมหัศจรรย์</a>
          </div>
        </div>
      </div>
    <div>
      <!-- <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="index-count">
          <p>ลำดับที่</p>
        </div>
      </div>
    </div> -->
      <!-- <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="count-radius">
            <p class="count-text">{{rank()}}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <div>
            <a href="https://line.me/R/ti/p/%40thamturakit" id="focus" class="button-count btn btn-block btn-outline btn-default btn-lg">รับข้าวกล้องมหัศจรรย์</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="footer footer-transparent">
      <button ng-click="permission()" class="btn btn-block btn-outline btn-default btn-lg">รับสิทธิ์</button>
    </div> -->
</section>