<section ng-init="initData()">
  <!-- <div class="page-header">
    <h1>Qrevents</h1> <span class="huuuuu">{{rank()}} </span>
  </div> -->
  <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
          <!-- <div class="count">{{rank()}} </div> -->
      </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="count-radius"><p class="count-text">{{rank()}}</p></div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
        <!-- <div class="count">{{rank()}} </div> -->
    </div>
  </div>
  <div class="footer footer-transparent">
      <!-- <div class="pull-right">
        Example text
      </div> -->
      <button ng-click="permission()" class="btn btn-block btn-outline btn-default btn-lg">รับสิทธิ์</button>
    </div>
</section>
